@tailwind base;
@tailwind components;
@tailwind utilities;

.input1{
  background-image: url('/search.svg');
  background-position: 12px;
  background-repeat: no-repeat;
  background-size: 14px;
}

.offer-card{
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    color: #511e9f;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-auto-columns: 1fr;
    padding: 32px 32px 0;
    transition: box-shadow .35s,color .35s,background-color .35s ,height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: grid;
    position: relative;
    overflow: hidden;
    height: 240px;
    -webkit-transition: box-shadow .35s,color .35s,background-color .35s ,height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: box-shadow .35s,color .35s,background-color .35s ,height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: box-shadow .35s,color .35s,background-color .35s ,height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: box-shadow .35s,color .35s,background-color .35s ,height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}



.offer-card:hover {
  z-index: 20;
  color: #fff;
  background-color: #511e9f;
  box-shadow: 0 30px 32px rgba(81,30,159,.3);
  height: 300px;

}

.offer-icon{
  width: 64px;
    height: 64px;
    background-color: rgba(81,30,159,.1);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    transition: background-color .2s;
    display: flex;
}

.offer-card:hover .offer-icon {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  fill: #fff;
}
.main-container{
  grid-area: span 1/span 2/span 1/span 2;
}

.offer-card:hover .heading{
  color: white;
}

.buttonG{
  height: 56px;
    min-width: 150px;
    color: #828282;
    text-align: center;
    background-color: rgba(221,221,221,0);
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 20px;
    padding-right: 20px;
    transition: color .2s;
    display: flex;
}

.active{
  color: #511e9f;
    background-color: rgba(255,255,255,.1);
    border-bottom-width: 4px;
    border-bottom-color: #511e9f;
    /* padding-top: 13px; */
}

.cardImgage{
  background-image: url('https://assets-global.website-files.com/606cae0c4e05dcef785b0481/606cae0c4e05dc0eaf5b05d9_content-card-bg.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 991px){
  .buttonG {
    height: 30px;
    min-width: auto;
    border-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 9px 24px;
    font-size: .875em;
}
.active{
  background-color:#511e9f;
  border-style: none;
  color: white;
}

}