@tailwind base;
@tailwind components;
@tailwind utilities;

.input1{
  background-image: url('/search.svg');
  background-position: 12px;
  background-repeat: no-repeat;
  background-size: 14px;
}

.offer-card{
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    color: #511e9f;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-auto-columns: 1fr;
    padding: 32px 32px 0;
    transition: box-shadow .35s,color .35s,background-color .35s ,height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: grid;
    position: relative;
    overflow: hidden;
    height: 210px;
    -webkit-transition: box-shadow .35s,color .35s,background-color .35s ,height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: box-shadow .35s,color .35s,background-color .35s ,height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: box-shadow .35s,color .35s,background-color .35s ,height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: box-shadow .35s,color .35s,background-color .35s ,height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}



.offer-card:hover {
  z-index: 20;
  color: #fff;
  background-color: #511e9f;
  box-shadow: 0 30px 32px rgba(81,30,159,.3);
  height: 300px;

}

.offer-icon{
  width: 64px;
    height: 64px;
    background-color: rgba(81,30,159,.1);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    transition: background-color .2s;
    display: flex;
}

.offer-card:hover .offer-icon {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  fill: #fff;
}
.main-container{
  grid-area: span 1/span 2/span 1/span 2;
}

.offer-card:hover .heading{
  color: white;
}

.buttonG{
  height: 56px;
    min-width: 150px;
    color: #828282;
    text-align: center;
    background-color: rgba(221,221,221,0);
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 20px;
    padding-right: 20px;
    transition: color .2s;
    display: flex;
}

.active{
  color: #511e9f;
    background-color: rgba(255,255,255,.1);
    border-bottom-width: 4px;
    border-bottom-color: #511e9f;
    /* padding-top: 13px; */
}

.cardImgage{
  background-image: url('https://assets-global.website-files.com/606cae0c4e05dcef785b0481/606cae0c4e05dc0eaf5b05d9_content-card-bg.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 991px){
  .buttonG {
    height: 30px;
    min-width: auto;
    border-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 9px 24px;
    font-size: .875em;
    white-space: nowrap;
}
.active{
  background-color:#511e9f;
  border-style: none;
  color: white;
}
}

.carding-1{
  background-color: #eee9f6;
    padding-top: 32px;
    width: 100%;
    min-height: 360px;
    background-image: url('https://assets-global.website-files.com/606cae0…/606cae0…_program-card-dot-patten.svg');
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.04);
    border-radius: 16px;
    justify-content: space-between;
    margin-bottom: 44px;
    padding: 20px 20px 16px;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 24px rgba(0,0,0,.04), 0 4px 4px rgba(0,0,0,.06);
}

.carding-2{
  width: 100%;
    min-height: 360px;
    background-image: url('https://assets-global.website-files.com/606cae0c4e05dcef785b0481/606cae0c4e05dc21285b04cd_content-banner-dot-grid.svg');
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto;
    flex-direction: column;
    z-index: 1;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.04);
    border-radius: 16px;
    justify-content: space-between;
    margin-bottom: 44px;
    padding: 20px 20px 16px;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 24px rgba(0,0,0,.04), 0 4px 4px rgba(0,0,0,.06);
    color: #200051;
    font-family: Inter,sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.tick{
  min-height: 16px;
  color: #200051;
  background-image: url('https://assets-global.website-files.com/606cae0c4e05dcef785b0481/606cae0c4e05dc68d95b04d0_content-banner-tick-icon.svg');
  background-position: 0 2px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 4px;
  padding-left: 28px;
  font-size: .875em;
  line-height: 1.5;
}

.shadow-1{
  box-shadow: 0 4px 4px rgba(0,0,0,.06), 0 6px 24px rgba(0,0,0,.04);
}

.grid-1{
  z-index: 1;
    grid-column-gap: 60px;
    grid-row-gap: 16px;
    background-color: #eee9f6;
    border-radius: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: .75fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    padding: 36px 24px 36px 48px;
    display: grid;
    position: relative;
    overflow: hidden;
    font-family: Inter,sans-serif;
}
.banner{
  grid-column-gap: 20px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-items: start;
    display: grid;
}
.tick-2{
  min-height: 16px;
    color: #200051;
    background-image: url('https://assets-global.website-files.com/606cae0c4e05dcef785b0481/606cae0c4e05dc68d95b04d0_content-banner-tick-icon.svg');
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 4px;
    padding-left: 28px;
    font-size: .875em;
    line-height: 1.5;
}

.img-1{
  grid-area: span 2/span 1/span 2/span 1
}
@media (max-width: 599px) {
  .grid-1 {
    grid-template-columns: 1fr;
  }
  
  .img-1 {
    grid-area: auto;
  }
}